<div style="margin-top: 20px" class="row">
  <div class="col-md-8">
    <p-card></p-card>
  </div>
  <div class="col-md-4">
    <p-card>
      <p style="font-weight: 500">Alışveriş Özeti:</p>
      <p-card *ngFor="let basket of baskets">
        <div class="row">
          <div class="col-md-5">
            <p>{{ basket.productDetails.name }}</p>
          </div>
          <div class="col-md-3">
            <p>{{ basket.count }}</p>
          </div>
          <div class="col-md-4">
            <p>{{ basket.productDetails.price }}</p>
          </div>
        </div>
      </p-card>
    </p-card>
  </div>
</div>
