<h2 style="font-weight: 700; margin-top: 30px; margin-bottom: 20px;">{{category.name}}<a style="margin-left: 17px; font-size: 16px; font-weight: 700px; font-family: poppins,sans-serif!important; color: #0090e3;">TÜMÜ ></a></h2>
<div class="row">
    <div  class="col-md-3">
        <img style="width: 18rem;" src="assets/images/kulaklik.jpg">
    </div>
    <div class="col-md-9">
      <p-carousel [value]="products" [autoplayInterval]="3000" [numVisible]="4" [numScroll]="1">
        <ng-template let-product pTemplate="item">
          <app-product-card [product] = "product"></app-product-card>
        </ng-template>
      </p-carousel>
    </div>
</div>